.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.white-card {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-2 {
  gap: 1rem;
  margin-top: 1rem;
}